body {
    background-color: #f2f3f5;
}

.headerNav {
    color: white;
    background-color: #0b0b31;
    padding: 0px 45px;
}

.headingBtns {
    padding: 3px 12px;
    border-radius: 5px;
    margin: 0 1px;
    background-color: #0b0b31;
    color: white;
}

.heroDots {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 0 2px;
    background-color: #808080;
    border: none;
}

.about h1 {
    color: #0e1e31;
    font-weight: bold;
    margin-top: 30px;
}

.about img {
    width: 90%;
}

.about p {
    margin-top: 15px;
    color: #a9a9a9;
}

.about button {
    color: white;
    background-color: #0e1e31;
    border-radius: 3px;
    padding: 3px 10px;
}

.smart {
    border-top: 2px solid #a9a9a9;
}

.strong {
    border-top: 2px solid #a9a9a9;
    border-left: 2px solid #a9a9a9;
    border-right: 2px solid #a9a9a9;
}

.stable {
    border-top: 2px solid #a9a9a9;
}

.info {
    background-color: #1b2b3d;
    color: white;
}

.info img {
    width: 22px;
}

.news img {
    width: 80px;
}

.infoBtns {
    background-color: #1b2b3d;
    color: white;
}

.infoBtns button {
    background-color: #213349;
    color: white;
    padding: 6px 24px;
    border-radius: 3px;
}