body {
    background-color: #f2f3f5;
}

.headerNav {
    color: white;
    background-color: #0b0b31;
    padding: 0px 45px;
}

.headingBtns {
    padding: 3px 12px;
    border-radius: 5px;
    margin: 0 1px;
    background-color: #0b0b31;
    color: white;
}

.heroDots {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    margin: 0 2px;
    background-color: #808080;
    border: none;
}